<div id="cmsHolder">

	<div class="cmsContainer cmsSmall">
		<form>
			<fieldset>
				<legend>Navigation Setup</legend>
				<div>
					<label>1. Select Banking Models</label> <select>
						<option>Personal Banking</option>
					</select><a href="#" class="helper"></a>
				</div>
				<div>
					<label>2. Select Main Product</label> <select>
						<option>Current Account</option>
					</select><a href="#" class="helper"></a>
				</div>
				<div>
					<label>3. Select Sub Product</label> <select>
						<option>Select Silver Account</option>
					</select><a href="#" class="helper"></a>
				</div>
				<div>
					<label>4. Select Content Type</label> <select>
						<option>Guides</option>
					</select><a href="#" class="helper"></a>
				</div>
				<button>Save</button>

			</fieldset>
		</form>
	</div>

	<div class="cmsContainer cmsSmall">
		<form>
			<fieldset>
				<legend>Meta Tag Setup</legend>
				<div>
					<label>Title</label> <input type="text" placeholder="e.g. Mr " /><a
						href="#" class="helper"></a>
				</div>
				<div>
					<label>Description</label>
					<textarea></textarea>
					<a href="#" class="helper"></a>
				</div>
				<div>
					<label>Tags</label> <input type="text" placeholder="e.g. Banking " /><a
						href="#" class="helper"></a>
				</div>
			</fieldset>
			<button>Save</button>
		</form>
	</div>



	<div id="cmsTabsHolder">
		<ul class="nav nav-tabs cms-tabs">
			<li class="active"><a href="#editor">Editor</a></li>
			<li><a href="#preview">Preview</a></li>
		</ul>
	</div>
	<div class="cmsContainer cmsLarge">

		<div class="tab-content">
			<div class="tab-pane active cms-pane" id="editor">
				<div id="richText">
					<div id="richTextControls">
						<ul>
							<li><img src="images/richSet1.png" /></li>
							<li><select><option>Times New Romain</option></select></li>
							<li><select><option>1 (8pt)</option></select></li>
							<li><select><option>Heading 1</option></select></li>
							<li><img src="images/richSet2.png" /></li>
						</ul>
					</div>
					<form>
						<textarea></textarea>
					</form>
				</div>
			</div>
			<button>Preview</button>
			<button>Save</button>
		</div>

	</div>

</div>
