<div id="pgCurrentAccounts" class="tablet">
	<div class="tablet">
		<h2 class="accounts-h2">Car Insurance</h2>
		<div id="current-accounts-body">
			<div class="curr-acc-padd">
				<h3>Overview</h3>
				<ul>

					<li>Uninsured driver promise</li>
					<li>24 hour accident recovery</li>
					<li>&#163;1,000 in car cover for permanently fitted audio,
						satellite navigation and entertainment equipment</li>
				</ul>
				<p>We've designed our comprehensive cover to give you the
					following features and benefits as standard:</p>
				<p>Our uninsured driver promise will cover you if you're hit by
					an uninsured driver and you're found not to be at fault. We'll
					cover your excess and your no claims discount won't be affected.</p>
				<p>If you make a claim and use one of our approved repairers,
					we'll give you:</p>
				<ul>
					<li>a courtesy car (subject to availability)</li>
					<li>your car collected and delivered back to you, cleaned
						inside and out</li>
					<li>a 5 year guarantee on repairs</li>
				</ul>
				<p>Option to protect your no claims discount, if you have 4
					years or more.</p>
				<p>Reduce your premium with our flexible choice of excess.</p>
				<p>UK only call centres.</p>
				<div class="clearContent largeHeight">
					<input type="button" value="Apply Now" class="apply_button" />
				</div>
			</div>
		</div>



	</div>
	<!-- tabs : start-->
	<div class="tablet">
		<div class="tabs" id="guidesHolder"></div>
	</div>
	<!-- tabs : end -->
</div>
</div>

