<div id="pgCurrentAccounts" class="tablet">
	<div class="tablet">
	<h2 class="accounts-h2">Select Account</h2>
<div id="current-accounts-body">
	<div class="curr-acc-padd">
	<h3>All the essentials to make everyday banking easy for you</h3>
		<ul>
			<li>No monthly account fee</li>
			<li>Award-winning online banking</li>
			<li>Emergency cash if your card is lost or stolen (limits apply)</li>
			<li>Mobile banking apps for iPhone, iPad, BackBerry and Android</li>
		</ul> 
	<div class="apply_buttons">
		<a href="#/appOneView" class="apply_button">Apply Now</a>
		<input type="button" value="Email me the link to apply online" class="apply_button"/>
	</div>
	
		<div class="current-accounts-bottom">
			<img src="images/current-accounts.png"/>
		</div>
	</div>


</div>
	<!-- tabs : start-->
	<div class="tablet">
		<div class="tabs" id="guidesHolder">
    

</div>
</div>
		<!-- tabs : end -->
</div>
</div>

