<div id="pgSavings" class="tablet">
	<div class="tablet">
		<h2 class="accounts-h2">e-ISA</h2>

		<div id="current-accounts-body">
			<div class="curr-acc-padd">
				<h3>Earn tax free interest of up to 2.50% AER (variable) on
					balances of &#163;30,000 or more. Other rates available for lower
					balances.</h3>
				<p>Earn the following rates on your savings:</p>
				<ul>
					<li>2.50% AER (variable) if your balance is &#163;30,000 or
						more</li>
					<li>2.25% AER (variable) if your balance is &#163;10,000 or
						more but below &#163;30,000</li>
					<li>2.00% AER (variable) if your balance is less than
						&#163;10,000</li>

				</ul>
				<p>
					Majority of existing customers open an e-ISA in less than 5 minutes
					Transfers in allowed - bring all your cash ISAs together in one
					place Instant Access - and easy to manage online only account <i>Tax
						free interest means that interest payable is exempt from UK income
						tax</i>
				</p>
				<table id="rateCompare" class="span-26 mt-10" cellspacing="0">
					<thead>
						<tr>
							<th class="rds-tl-3" scope="col">Balance</th>
							<th>AER <br>(variable)
							</th>
							<th class="rds-tr-3">Gross p.a. <br>(variable)
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="bg-mono-5" scope="row">&#163;30,000+</th>
							<td>2.50%</td>
							<td class="td-last">2.47%</td>
						</tr>
						<tr>
							<th class="bg-mono-5" scope="row">&#163;10,000 -
								&#163;29,999</th>
							<td>2.25%</td>
							<td class="td-last">2.23%</td>
						</tr>
						<tr class="tr-last">
							<th class="rds-bl-3 bg-mono-5" scope="row">&#163;0 -
								&#163;9,999</th>
							<td>2.00%</td>
							<td class="rds-br-4">1.98%</td>
						</tr>
					</tbody>
				</table>
				<div class="apply_buttons clearContent">

					<input type="button" value="Apply Now" class="apply_button" /> <a
						id="cancelLink" href="#">Find out more &#187;</a>
				</div>



				<div class="esaving-image-holder">
					<img src="images/pig-banner.gif" />
				</div>
			</div>


		</div>
		<!-- tabs : start-->
		<div class="tablet">
			<div class="tabs" id="guidesHolder"></div>
			<!-- tabs : end -->
		</div>
	</div>