<div id="pgSavings" class="tablet">
	<div class="tablet">
	<h2 class="accounts-h2">e-Savings</h2>

<div id="current-accounts-body">
	<div class="curr-acc-padd">
	<h3>Online only instant access savings account offering a rewarding rate of
1.00% AER/Gross p.a. (variable)</h3>
		<ul>
			<li>No minimum balance</li>
			<li>No penalties and no withdrawal charges </li>
			<li>Easy to manage with our Online Banking service</li>
			<li>Monthly interest paid directly into your account</li>
		</ul> 
	<div class="apply_buttons"> 
		<input type="button" value="Apply Now" class="apply_button"/>
		<input type="button" value="Email me the link to apply online" class="apply_button"/>
	</div>
	
		<div class="esaving-image-holder">
			<img src="images/tuxedo-pig.png"/>
		</div>
	</div>


</div>
	<!-- tabs : start-->
	<div class="tablet">
		<div class="tabs" id="guidesHolder">
    
    
  
</div>
</div>
		<!-- tabs : end -->
</div>
</div>