<div id="pgCurrentAccounts" class="tablet">
	<div class="tablet">
		<h2 class="accounts-h2">What type of home insurance are you
			looking for?</h2>
		<div id="current-accounts-body">
			<div class="curr-acc-padd">
				<h3>Combined Buildings and Contents Insurance?</h3>
				<ul>
					<li>Safeguard your home and contents against the unexpected,
						with NatWest combined cover and save 20% in the process.</li>
					<li><a href="#">Find out more &#187;</a>
				</ul>


				<h3>Specialist Contents cover for students and tenants?</h3>
				<ul>
					<li>Flexible cover for tenants and students in rented or
						shared housing up to &#163;14,000, with the option to upgrade on
						those little luxuries.</li>
					<li><a href="#">Find out more &#187;</a>
				</ul>

				<h3>Contents cover only?</h3>
				<ul>
					<li>If your home is already covered, our home contents
						insurance policy options offer flexible cover to protect the
						things important to you.</li>
					<li><a href="#">Find out more &#187;</a>
				</ul>

				<h3>Buildings cover only?</h3>
				<ul>
					<li>In case the unexpected happens, make sure your home,
						outbuildings and garden are covered.</li>
					<li><a href="#">Find out more &#187;</a>
				</ul>

				<div class="clearContent largeHeight"></div>
			</div>



		</div>
		<!-- tabs : start-->
		<div class="tablet">
			<div class="tabs" id="guidesHolder"></div>
		</div>
		<!-- tabs : end -->
	</div>
</div>

