<div id="pgSavings" class="tablet">
	<div class="tablet">
		<h2 class="accounts-h2">Investments and Financial Planning</h2>

		<div id="current-accounts-body">
			<div class="curr-acc-padd">
				<h3>Helping you plan for the future</h3>
				<p>Whether you are an experienced investor or you are just
					getting started we have a range of Investments available that could
					meet your needs.</p>



				<div class="investContent">
					<h3>I would like your advice</h3>
					<ul>
						<li>Our Financial Advice service is our expert planning
							service that helps you take control of your financial future.</li>
						<li>An initial consultation is free. To take advantage of the
							full service you will pay for our services on the basis of, an
							adviser charge, fee, commission or a combination.</li>
						<li>We will discuss your payment options with you before you
							take forward the service and answer any questions you have.</li>
						<li>We will not charge you until we have agreed with you how
							we are to be paid.</li>
					</ul>
					<a href="#">I'd like your advice &#187;</a>
				</div>

				<div class="investContent">
					<h3>I can choose my own solution</h3>
					<ul>
						<li>We have a selection of investment options available if
							you would like to invest without taking any advice. Whilst anyone
							is free to choose their own solution without advice, these
							options are best suited if;</li>
						<li>You are a confident investor,</li>
						<li>You have invested in a range of assets before,</li>
						<li>You understand the relationship between risk and reward
							and can assess your own appetite to take risks.</li>
					</ul>
					<a href="#">I can choose my own solution &#187;</a>
				</div>
				<div class="clearContent largeHeight"></div>
			</div>


		</div>
		<!-- tabs : start-->
		<div class="tablet">
			<div class="tabs" id="guidesHolder"></div>
			<!-- tabs : end -->
		</div>
	</div>