<!-- Landing screen for Tablet/PC/TV -->

<!-- Set menu width in CSS for common and override in mobilewebapp -->
<div id="pgLanding" class="tablet">
	<div id="landing-wrapper">
		<a href="#/personal">
			<div class="landing-block-main">
				<div class="pod-slant-03"><h2>2013 resolutions</h2></div>
				<div class="pod-slant-04"><h2>Get fit, sort out finances</h2></div>
				<div class="pod-slant-05"><h4>OK, let's start with the easy one</h4></div>
			</div>
		</a>
		<div class="landing-block-second">
			<span class="lnd-title">Personal loans</span>
			<span class="lnd-content">Helping you decide if a loan to consolidate your debts is right for you.</span>
				
		</div>
		<div class="landing-block-second">
			<span class="lnd-title">Platinum Credit Card</span>
			<span class="lnd-content">Our longest introductory balance transfer rate. For customers earning over &pound;10k p.a. Representative 17.9% APR (variable)</span>
		</div>
		<div class="landing-block-second">
			<span class="lnd-title">1 Year Fixed Rate Bond: Internet Only Edition</span>
			<span class="lnd-content">Start saving with a balance of &pound;2,000. No partial withdrawals or additional deposits.</span>
		</div>
		<div class="landing-block-second">
			<span class="lnd-title">Mobile Banking</span>
			<span class="lnd-content">Apps for iPhone, iPad, Android and BlackBerry - helping you stay in control.</span>
		</div>
		<div class="landing-block-second">
			<span class="lnd-title">Personal loan</span>
			<span class="lnd-content">Helping you decide if a loan to consolidate your debts is right for you.</span>
		</div>
	</div>
</div>

<!-- tabs : start-->
<div class="tablet">
<div class="tabs">
    
   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1" checked>
       <label for="tab-1">Tools</label>
       
       <div class="content">
           <div class="tools-icons"><div class="tools1"></div><p>Branch Finder</p></div>
		   <div class="tools-icons"><div class="tools2"></div><p>Product Comparison</p></div>
		   <div class="tools-icons"><div class="tools3"></div><p>Current Account Finder</p></div>
		   <div class="tools-icons"><div class="tools4"></div><p>Financial Checkup</p></div>
		   <div class="tools-icons"><div class="tools5"></div><p>Budget Calculator</p></div>
		   <div class="tools-icons"><div class="tools6"></div><p>Saving Goals</p></div>
       </div> 
   </div>
    
   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1">
       <label for="tab-2">Guides</label>
       
       <div class="content">
       </div> 
   </div>  
</div>
</div>
		<!-- tabs : end -->