<div id="pgPersonalBankingTablet" class="tablet">
<div id="personal-banking-header" class="visible-phone">
	<h2>Personal Banking</h2>
	<h3>Products &amp; Services</h3>
</div>
<div id="personal-banking-body">
	<div class="body-headings hidden-phone">
		<h1>
			2013 resolutions
		</h1>
			<br>
		<h2>
			Get gift, sort out finances
		</h2>
	</div>
	
	<div class="body-headings2 hidden-phone">
		<h2 class="smaller-h4">
			OK, let's start with <br>the easy one
		</h2>
	</div>
</div>
</div>
	<!-- tabs : start-->
	<div class="navbar navbar-inverse navbar-bottom tablet">
		<div class="tabs">
    
   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1" checked>
       <label for="tab-1">Tools</label>
       
       <div class="content">
           <div class="tools-icons"><div class="tools1"></div><p>Branch Finder</p></div>
		   <div class="tools-icons"><div class="tools2"></div><p>Product Comparison</p></div>
		   <div class="tools-icons"><div class="tools3"></div><p>Current Account Finder</p></div>
		   <div class="tools-icons"><div class="tools4"></div><p>Financial Checkup</p></div>
		   <div class="tools-icons"><div class="tools5"></div><p>Budget Calculator</p></div>
		   <div class="tools-icons"><div class="tools6"></div><p>Saving Goals</p></div>
       </div> 
   </div>
    
   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1">
       <label for="tab-2">Guides</label>
       
       <div class="content">
       </div> 
   </div>  
</div>
</div>
		<!-- tabs : end -->
