<div id="pgCurrentAccounts" class="tablet">
	<div class="tablet">
		<h2 class="accounts-h2">Select Silver Account</h2>
		<div id="current-accounts-body">
			<div class="curr-acc-padd">
				<h3>A current account that's great if you like European travel,
					films and music</h3>
				<b>Monthly account fee &#163;10.</b>
				<div class="clearContent">
					<input type="button" value="Apply Now" class="apply_button" /> <input
						type="button" value="Email me the link to apply online"
						class="apply_button" />
				</div>
				<h3>Discover some of the benefits of a Select Silver Account -
					save up to &#163;438:</h3>
				<p>
					Before you apply for this account please ensure you have read the
					product information and fully understand the rates and charges
					associated with this account. <a href="#">Rates & important
						info for the Select Silver Account.</a>
				</p>
				<div class="investContent">
					<h3>European travel insurance</h3>
					<ul>
						<li>Up to 22 days cover for each trip</li>
						<li>Includes winter sports cover</li>
						<li>&#163;10 million medical expenses cover</li>
						<li>Includes you and joint account holders when you have a
							joint account</li>
						<li><a href="#">Save up to &#163;120 a year</a></li>
					</ul>
					<i>Members and joint account holders aged 70 years and over
						must pay an annual premium of &#163;50. If you have an existing
						medical condition you may have to pay an annual premium or accept
						your cover may exclude certain conditions.</i>

				</div>
			</div>

			<div class="investContent">
				<h3>Mobile phone insurance</h3>
				<ul>
					<li>Covers all mobile phones - including Smartphones</li>
					<li>Up to &#163;750 (inc VAT) replacement value per phone</li>
					<li>Covers loss, theft, accidental damage and breakdown.</li>
					<li>Covers up to two phones if you have a joint account</li>
					<li>Unauthorised calls cover - up to &#163;1,000 (inc VAT) for
						monthly contracts and &#163;100 (inc VAT) for pay as you go
						customers</li>
					<li><a href="#">Save up to &#163;155 a year</a></li>
				</ul>
				<a href="#">Further information on your Mobile Phone Insurance
					Supplier change</a>

			</div>

			<div class="clearContent largeHeight"></div>

		</div>
		<!-- tabs : start-->
		<div class="tablet">
			<div class="tabs" id="guidesHolder"></div>
			<!-- tabs : end -->
		</div>
	</div>