<div id='signInContainer'></div>
<script type='text/template' id='logInTemplate'>
<div id='pglogIn'>
	<div class='si-wrapper'>
		<div class='login-head'>Log in</div>
		<div class='si-form-wrapper'>
			<p>Customer Number</p>
			<input type='text' value='' class='sign-in-input'/>
			<div class='si-float-left'><a>Find out more and register<br> for online booking</a>
			<a href='#' id='logInBtn' class='apply_button'>Log in</a></div>
		</div>
	</div>
</div>
</script>
<script type='text/template' id='signInTemplate'>
<div id='pgSignIn'>
	<div class='si-wrapper'>
		<div class='login-head'>Sign in</div>
		<div class='si-form-wrapper'>
			<p>Customer Number</p>
			<input type='text' value='' class='sign-in-input'/>
			<p>Your PIN</p>
			<span class='form-span'>Enter the following number from your PIN</span>
			<div class='si-float-right'>
				<input type='text' value='' class='si-input-numbers' maxlength='1'/>
				<input type='text' value='' class='si-input-numbers' maxlength='1'/>
				<input type='text' value='' class='si-input-numbers' maxlength='1'/>
				<span class='form-span'>1st, 2nd &amp; 4th</span>
			</div>
			<p>Your password</p>
			<span class='form-span'>Enter the following number from your Password</span>
			<div class='si-float-right'>
				<input type='text' value='' class='si-input-numbers' maxlength='1'/>
				<input type='text' value='' class='si-input-numbers' maxlength='1'/>
				<input type='text' value='' class='si-input-numbers' maxlength='1'/>
				<span class='form-span'>2nd, 3rd &amp; 9th</span>
			</div>
			<span class='form-span'>Forgot your PIN or Password</span>
			<div class='si-float-left'>
			<a href='#' id='signInBtn' class='apply_button'>Sign in</a></div>
		</div>
	</div>
</div>
</script>
<script type='text/template' id='loggedInTemplate'>
<div id='pglogIn' class='logedin'>
	<div class='si-wrapper'>
		<div class='login-head'>Welcome</div>
		<div class='si-form-wrapper'>
				
			<p>Welcome to Natwest Online Banking</p>
			<p>Logged in as : <b>Tony Smith</b></p>
				
			
				<h6>Current Account Summary</h6>
				<ul id="accountBalance">
					<li><p>Current Balance<p><p>&#163; 3452</p></li>
					<li><p>Overdraft<p><p>&#163; 1000</p></li>
				</ul>
			

			<h6>Money in &#38; out</h6>
			<ul id="moneyInOut">
				<li><i>In</i>  &#163; 1254 <div class="eightyPercent"></div></li>
				<li><i>Out</i> &#163; 987 <div class="thirtyPercent"></div></li>
			</ul>
			<h6>Recent Transactions</h6>
			<ul id="recentTransactions">
				<li><p class="paymentName">Alliance/ Leicester</p> <p class="paymentAmount">-180</p></li>
				<li><p class="paymentName">Rent Payment</p> <p class="paymentAmount">-680</p></li>
				<li><p class="paymentName">Starbucks</p> <p class="paymentAmount">-5.50</p></li>
				<li><p class="paymentName">Salary</p> <p class="paymentAmount">+1,600</p></li>
			</ul>
			<!-- <a href='#' id='logOutBtn' class='apply_button'>Log out</a></div> -->
			</div>
			
		</div>
	</div>
</div>
</script>







